.App {
  display: flex;
  width: 540px;
  margin: auto;
  background: white;
  border-radius: 15px;
  background: #282c34;
  color: #b3ff51;
  border: 1px solid #b3ff51;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 15px;
  width: 210px;
  height: 210px;
  margin: 40px;
}

.controls-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;
  align-items: center;
  width: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
}

button:focus { outline: none; }

.drum-pad {
  border-radius: 10%;
  border: 1px solid #b3ff51;
  background: #3e434f;
  color: #b3ff51;
  opacity: 1;
}

.drum-pad:hover {
  opacity: .7;
}

.control {
  height: 40px;
  width: 210px;
  line-height: 40px;
}

#power, #mode, #volume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 26px;
}

#display {
  border: 1px solid #b3ff51;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*** control switch styling ***/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider { 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
/*** End switch styles ***/

/*** volume slider ***/
.volumeSlider {
  -webkit-appearance: none;
  width: 75%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-left: 1px solid;
  border-right: 1px solid;
} 

.volumeSlider:hover {
  opacity: 0.7;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: #282c34;
  cursor: pointer;
} 

/*** end volume slider ***/

@media (max-width: 720px) {
  .App {
    flex-direction: column;
    width: auto;
  }

  .controls-container {
    margin: auto;
    margin-bottom: 40px;
  }

  #power, #mode, #volume {
    margin-top: 10px;
  }
}